.container {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 600px) {
  .top {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .bottom {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .bottom {
    display: flex;
  }
  .top {
    display: flex;
  }
}


